.navbar {
  background-color: #1a1a1a;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 95%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 50px;
  width: 50px;
}

.logo h3 {
  color: white;
  font-size: 1.5rem;
}

.items a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}
